attrs==22.2.0
certifi==2020.6.20
click==8.0.3
flasgger==0.9.5
Flask==2.0.3
idna==2.10
Jinja2==3.0.3
joblib==1.2.0
json-logging==1.2.10
MarkupSafe==2.1.0
mistune==0.8.4
mysqlclient==2.0.3
nltk==3.5
numpy==1.25.2
packaging==25.0
pyicu==2.15.2
python-dotenv~=0.15.0
python-Levenshtein==0.12.1
regex==2022.10.31
requests==2.31
scikit-learn==1.7.1
scipy==1.16.1
six==1.15.0
sqlitedict==1.7.0
threadpoolctl==3.1.0
tqdm==4.50.0
urllib3==1.25.10
wcwidth==0.2.5
wikitextparser==0.51.1
xgboost==2.1.4
PyMySQL==1.1.2
setuptools==80.9.0
wheel==0.45.1
gunicorn==20.0.4
mwparserfromhell==0.7.2
mwtokenizer==0.2.0
